@require './variables.styl'

/****************flexbox**************/
.flex
  display:flex
.inline-flex
  display:inline-flex
.flex-center
  justify-content: center
  align-items: center
/*横向或纵向*/
.flex-row
  flex-direction: row
.flex-col
  flex-direction:column
.flex-row-reverse
  flex-direction:row-reverse
.flex-col-reverse
  flex-direction:column-reverse
.flex-wrap
  flex-wrap:wrap
/*主轴对齐方式*/
.flex-justify-start
  justify-content:flex-start
.flex-justify-end
  justify-content:flex-end
.flex-justify-center
  justify-content:center
.flex-justify-between
  justify-content:space-between
.flex-justify-around
  justify-content:space-around
/*侧轴对齐方式*/
.flex-align-start
  align-items:flex-start
.flex-align-end
  align-items:flex-end
.flex-align-center
  align-items:center
.flex-align-baseline
  align-items:baseline
.flex-align-stretch
  align-items:stretch
/*主轴换行时行在侧轴的对齐方式，必须定义flex-wrap为换行*/
.flex-content-start
  align-content:flex-start
.flex-content-end
  align-content:flex-end
.flex-content-center
  align-content:center
.flex-content-between
  align-content:space-between
.flex-content-around
  align-content:space-around
.flex-content-stretch
  align-content:stretch
/*允许子元素收缩*/
.flex-child-grow
  flex-grow: 1   /*允许拉伸*/
.flex-child-shrink
  flex-shrink: 1  /*允许收缩*/
.flex-child-noshrink
  flex-shrink: 0   /*不允许收缩*/
.flex-child-average
  flex:1   /*平均分布，兼容旧版必须给宽度*/
.flex-child-first
  order: 1  /*排第一个*/
/*子元素在侧轴的对齐方式*/
.flex-child-align-start
  align-self: flex-start
.flex-child-align-end
  align-self:flex-end
.flex-child-align-center
  align-self:center
.flex-child-align-baseline
  align-self:baseline
.flex-child-align-stretch
  align-self:stretch

/*color*/
.purple
  color: $color-purple
.bg-purple
  background: $bdr-color-purple
.red
  color: $color-red
.rose-red
  color: $color-rose-red
.gray
  color: $color-gray
.bg-gray
  background: $bdr-color-gray
.title-gray
  color: $color-title-gray
.page-bg
  background: $color-page-bg
.white
  color: #fff;
/*font-size*/
.font-30
  font-size: $fontsize-large-xxxx
.font-24
  font-size: $fontsize-large-xxx
.font-20
  font-size: $fontsize-large-xx
.font-18
  font-size: $fontsize-large-x
.font-16
  font-size: $fontsize-large
.font-14
  font-size: $fontsize-medium
.font-12
  font-size: $fontsize-small
.font-10
  font-size: $fontsize-small-s

.block
  display: block
.inline-block
  display: inline-block
.inline
  display: inline
.hide
  display: none
.left
  float: left
.right
  float: right
.full-height
  height:100%
.full-width
  width:100%
.relative
  position: relative
.absolute
  position: absolute
.fixed
  position: fixed
.clear
  clear: both
.overflow-hide
  overflow: hidden
.normal
  font-weight: normal
.bold
  font-weight: bold
.border-box
  box-sizing: border-box
.margin
  margin: 10px
.margin-top
  margin-top: 10px
.margin-right
  margin-right: 10px
.margin-bottom
  margin-bottom: 10px
.margin-left
  margin-left: 10px
.mt-5
  margin-top:5px
.mr-5
  margin-right:5px
.mb-5
  margin-bottom:5px
.ml-5
  margin-left:5px
.mt-15
  margin-top: 25px
.mt-20
  margin-top: 20px
.padding
  padding: 10px
.padding-top
  padding-top: 10px
.padding-right
  padding-right: 10px
.padding-bottom
  padding-bottom: 10px
.padding-left
  padding-left: 10px
.text-center
  text-align: center
.pointer
  cursor: pointer
.ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
.nowrap
  word-wrap: normal
  white-space: nowrap
.row2
  word-break:break-all
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  overflow: hidden
.lines-1
  text-overflow:ellipsis
  -webkit-line-clamp:1
  display: -webkit-box
  overflow:hidden
  -webkit-box-orient: vertical
  line-height: 1.2
  word-break: break-all
  height:1.2em
.lines-2
  text-overflow:ellipsis
  -webkit-line-clamp:2
  display: -webkit-box
  overflow:hidden
  -webkit-box-orient: vertical
  line-height: 1.2
  word-break: break-all
.line-height-1_5
  line-height:1.5
.line-height-1_2
  line-height: 1.2


