$color-red := #FF0000
$color-rose-red = #E84368
$color-gray := $bdr-color-gray
$bdr-color-gray := #d2d2d2
$bdr-color-purple := orange // #6C5F95
//$color-purple := $bdr-color-purple
$color-purple := orange // #6C5F95
$color-title-gray = #666
$color-page-bg = #EFF3F7
$color-orange = orange
$color-weight-orange = #EA7503
$color-hs = #6b656B
$color-page-rights = #f7f3f7

// font-size vars
$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium = 14px
$fontsize-small = 12px
$fontsize-small-s = 10px
